<div layout="row">
    <div layout-gt-md="row" layout-lt-md="column" layout-md="column" layout-margin layout-fill layout-padding>
        <div class="videogular-container" layout-fill flex-order-sm="1" flex-order-md="1" flex-order-lt-md="1" flex-order-gt-md="2">
            <!-- <pre>{{config|json}}</pre> -->
            <videogular vg-theme="WC.config.theme.url" vg-player-ready="WC.onPlayerReady($API)">
                <vg-media vg-src="WC.config.sources" vg-tracks="WC.config.tracks" vg-native-controls="false">
                </vg-media>
                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                    <bookmark-button ng-click='WC.bookmark(currentTime)'></bookmark-button>
                </vg-controls>
                <vg-overlay-play></vg-overlay-play>
                <vg-poster vg-url='WC.config.plugins.poster'></vg-poster>
            </videogular>
            <!-- <md-button class="md-primary" ng-click="showDialog($event)" md-ink-ripple md-ink-ripple-button>Launch Dialog</md-button> -->
            <md-checkbox ng-model="isChecked" aria-label="Finished?">
                Finished ?
            </md-checkbox>
        </div>
        <md-button class="md-fab md-mini md-accent" aria-label="Mini FAB" ng-click="WC.bookmark(API.currentTime)">
                <i class="fa fa-bookmark gray" ><md-tooltip md-direction="right">&#8984;B to bookmark</md-tooltip></i>
            </md-button>
        <div flex="20" flex-order-md="2" flex-order-lt-md="2" class="bookmarksColumn" ng-show="bookmarks.length > 0" >

            <md-list>
                <md-item  ng-repeat="bookmark in bookmarks | orderBy:time" layout-fill ng-animate="'animate'">
                    <md-item-content style="padding:5px;" >
                        <div layout="row" class="md-tile-left clickable" layout-padding>
                            <div layout=column layout-padding hide-lt-lg>
                                <i class="fa fa-bookmark fa-2x bookmark"  ng-click="API.seekTime(bookmark.time/1000)"><md-tooltip md-direction="top">Jump</md-tooltip></i>
                            </div>
                            <div layout="column" layout-padding>
                                <div layout="row" ng-click="API.seekTime(bookmark.time/1000)">{{bookmark.time| date:'mm:ss' }}</div>
                                <div layout="row">
                                    <md-input-container>
                                        <label>Description</label>
                                        <input type="text" ng-model="bookmark.description" ng-change="WC.onBookmarkChange()"></input>
                                    </md-input-container>
                                    
                                </div>
                                <div layout="row"><i class="fa fa-trash bookmark" ng-click="WC.deleteBookmark($index)"><md-tooltip md-direction="right">Delete Bookmark</md-tooltip></i></div>
                            </div>
                        </div>
                    </md-item-content>
                    <md-divider inset></md-divider>
                </md-item>
            </md-list>
        </div>
    </div>
</div>
