<div layout="row" layout-fill>
        <md-list>
            <md-item ng-repeat="item in awesomeThings">
                <md-item-content  style="padding-left: 10px;" flex="20">
                    <div class="md-tile-left clickable" ui-sref="watch({ videoId : item.title})" >
                        <img ng-src="assets/images/{{item.logo}}" alt="{{item.title}}" alt="{{item.title}}" class="face">
                        <md-tooltip>Watch video</md-tooltip>
                    </div>
                    <div class="md-tile-content clickable" ui-sref="watch({ videoId : item.title})">
                        <h3 ui-sref="watch({ videoId : item.title})" >
                            {{item.title}}
                            
                        </h3>
                        <h4>{{item.url}}</h4>
                        <p>
                            {{item.description}}
                        </p>
                        <md-tooltip md-direction="left">Watch video</md-tooltip>
                    </div>
                    <div>
                         <i class="fa fa-2x fa-bookmark" style="padding-right:15px;color:pink;"><md-tooltip md-direction="left">3 bookmarks</md-tooltip></i>
                    </div>
                    <div class="md-tile-right" style="padding-right:15px;">
                    <md-button class="md-fab md-primary md-hue-3" aria-label="Profile" ng-click="item.fave = !item.fave">
                        <i class="fa fa-2x" style="color:pink;"  ng-class="{'fa-heart':item.fave,'fa-heart-o':!item.fave}"></i>
                        <md-tooltip md-direction="left">Make favorite</md-tooltip>
                    </md-button>
                        
                    </div>
                </md-item-content>
                <md-divider inset></md-divider>
            </md-item>
        </md-list>

</div>
